.dark-darker .MuiAutocomplete-popper {
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(227, 227, 227, 0.052) !important;
}

.dark-darker .flexlayout__layout {
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(227, 227, 227, 0.052);
    --color-text: rgb(224, 224, 224);
    --color-tab-text: rgb(174, 174, 174);
    --color-background: rgb(16, 16, 16);
    --color-base: rgb(56, 56, 56);
    --color-1: rgb(47, 47, 47);
    --color-2: rgb(84, 84, 84);
    --color-3: rgb(84, 84, 84);
    --color-4: rgb(0, 0, 0);
    --color-5: rgb(43, 43, 43);
    --color-6: rgb(61, 119, 214);
    --color-7: rgb(61, 119, 214);
    --color-drag1: rgb(20, 20, 20);
    --color-drag2: rgb(139, 139, 139);
    --color-drag1-background: rgba(122, 122, 122, 0.387);
    --color-drag2-background: rgba(145, 145, 145, 0.5);

    --font-size: medium;
    --font-family: Roboto, Arial, sans-serif;
    --color-overflow: gray;
    --color-icon: rgb(128, 128, 128);
    --color-tabset-background: var(--color-1);
    --color-tabset-background-selected: var(--color-1);
    --color-tabset-background-maximized: var(--color-6);
    --color-tabset-divider-line: var(--color-4);
    --color-tabset-header-background: var(--color-background);
    --color-tabset-header: var(--color-text);
    --color-border-background: var(--color-1);
    --color-border-divider-line: var(--color-4);
    --color-tab-selected: var(--color-tab-text);
    --color-tab-selected-background: var(--color-4);
    --color-tab-unselected: var(--color-tab-text);
    --color-tab-unselected-background: transparent;
    --color-tab-textbox: var(--color-tab-text);
    --color-tab-textbox-background: var(--color-3);
    --color-border-tab-selected: var(--color-tab-text);
    --color-border-tab-selected-background: var(--color-4);
    --color-border-tab-unselected: var(--color-tab-text);
    --color-border-tab-unselected-background: var(--color-3);
    --color-splitter: var(--color-1);
    --color-splitter-hover: var(--color-6);
    --color-splitter-drag: var(--color-6);
    --color-drag-rect-border: var(--color-6);
    --color-drag-rect-background: var(--color-4);
    --color-drag-rect: var(--color-text);
    --color-popup-border: var(--color-6);
    --color-popup-unselected: var(--color-text);
    --color-popup-unselected-background: var(--color-background);
    --color-popup-selected: var(--color-text);
    --color-popup-selected-background: var(--color-3);
    --color-edge-marker: rgb(179, 169, 106);
}

.dark-darker .panel {
    background-color: var(--color-background);
    border: 1px solid var(--color-1);
}

.dark-darker .flexlayout__layout {
    background-color: var(--color-background);
}

.dark-darker .flexlayout__splitter {
    background-color: var(--color-splitter);
}
@media (hover: hover) {
    .dark-darker .flexlayout__splitter:hover {
        background-color: var(--color-splitter-hover);
    }
}
.dark-darker .flexlayout__splitter_drag {
    background-color: var(--color-splitter-drag);
}
.dark-darker .flexlayout__outline_rect {
    border: 2px solid var(--color-drag1);
    background: var(--color-drag1-background);
}
.dark-darker .flexlayout__outline_rect_edge {
    border: 2px solid var(--color-drag2);
    background: var(--color-drag2-background);
}
.dark-darker .flexlayout__edge_rect {
    background-color: var(--color-edge-marker);
}
.dark-darker .flexlayout__drag_rect {
    color: var(--color-drag-rect);
    background-color: var(--color-drag-rect-background);
    border: 2px solid var(--color-drag-rect-border);
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-darker .flexlayout__tabset {
    background-color: var(--color-tabset-background);
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-darker .flexlayout__tabset_header {
    border-bottom: 1px solid var(--color-tabset-divider-line);
    color: var(--color-tabset-header);
    background-color: var(--color-tabset-header-background);
}
.dark-darker .flexlayout__tabset_header_content {
    flex-grow: 1;
}
.dark-darker .flexlayout__tabset_tabbar_outer {
    background-color: var(--color-tabset-background);
}
.dark-darker .flexlayout__tabset_tabbar_outer_bottom {
    border-top: 1px solid var(--color-tabset-divider-line);
}
.dark-darker .flexlayout__tabset-selected {
    background-color: var(--color-tabset-background-selected);
}
.dark-darker .flexlayout__tabset-maximized {
    background-color: var(--color-tabset-background-maximized);
}
.dark-darker .flexlayout__tab {
    overflow: auto;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);
}
.dark-darker .flexlayout__tab_button {
    border-right: 1px solid var(--color-3);
    border-top: 2px solid var(--color-tab-unselected-background);
    border-bottom: 1px solid var(--color-3);
}
.dark-darker .flexlayout__tab_button--selected {
    color: var(--color-tab-selected);
}
@media (hover: hover) {
    .dark-darker .flexlayout__tab_button:hover {
        background-color: var(--color-tab-selected-background);
        color: var(--color-tab-selected);
    }
}
.dark-darker .flexlayout__tab_button--unselected {
    background-color: var(--color-tab-unselected-background);
    color: var(--color-tab-unselected);
}

.dark-darker .flexlayout__tab_button_top.flexlayout__tab_button--selected {
    border-right: 1px solid var(--color-3); 
    border-top: 2px solid var(--color-7);
    border-bottom: 1px solid transparent;
}

.dark-darker .flexlayout__tab_button_textbox {
    border: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-tab-textbox);
    background-color: var(--color-tab-textbox-background);
    border: 1px inset var(--color-1);
    border-radius: 3px;
    width: 10em;
}
.dark-darker .flexlayout__tab_button_trailing:hover {
    background-color: var(--color-5);
}
.dark-darker .flexlayout__tab_button_overflow {
    color: var(--color-overflow);
}
@media (hover: hover) {
    .dark-darker .flexlayout__tab_toolbar_button:hover {
        background-color: var(--color-2);
    }
}
.dark-darker .flexlayout__tab_floating {
    color: var(--color-text);
    background-color: var(--color-background);
}
.dark-darker .flexlayout__tab_floating_inner div a {
    color: rgb(138, 138, 138);
}
.dark-darker .flexlayout__border {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--color-border);
    background-color: var(--color-border-background);
}
.dark-darker .flexlayout__border_top {
    border-bottom: 1px solid var(--color-border-divider-line);
}
.dark-darker .flexlayout__border_bottom {
    border-top: 1px solid var(--color-border-divider-line);
}
.dark-darker .flexlayout__border_left {
    border-right: 1px solid var(--color-border-divider-line);
}
.dark-darker .flexlayout__border_right {
    border-left: 1px solid var(--color-border-divider-line);
}
.dark-darker .flexlayout__border_button--selected {
    background-color: var(--color-border-tab-selected-background);
    color: var(--color-border-tab-selected);
}
@media (hover: hover) {
    .dark-darker .flexlayout__border_button:hover {
        background-color: var(--color-border-tab-selected-background);
        color: var(--color-border-tab-selected);
    }
}
.dark-darker .flexlayout__border_button--unselected {
    background-color: var(--color-border-tab-unselected-background);
    color: var(--color-border-tab-unselected);
}
.dark-darker .flexlayout__border_button_trailing:hover {
    background-color: var(--color-5);
}
@media (hover: hover) {
    .dark-darker .flexlayout__border_toolbar_button:hover {
        background-color: var(--color-2);
    }
}
.dark-darker .flexlayout__border_toolbar_button_overflow {
    color: var(--color-overflow);
}
.dark-darker .flexlayout__popup_menu {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
@media (hover: hover) {
    .dark-darker .flexlayout__popup_menu_item:hover {
        background-color: var(--color-6);
    }
}
.dark-darker .flexlayout__popup_menu_container {
    border: 1px solid var(--color-popup-border);
    color: var(--color-popup-unselected);
    background: var(--color-popup-unselected-background);
}
.dark-darker .flexlayout__floating_window_tab {
    background-color: var(--color-background);
    color: var(--color-text);
}
.dark-darker .flexlayout__tabset_sizer {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-darker .flexlayout__tabset_header_sizer {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-darker .flexlayout__border_sizer {
    font-size: var(--font-size);
    font-family: var(--font-family);
}

/* ASCII table */
.dark-darker .ascii {
    color: rgb(165, 165, 165);
}

.dark-darker .asciiTable th,
.dark-darker .asciiTable td {
    border-left: 1px solid var(--color-1);
}

.dark-darker .asciiTable tr:nth-child(1) th {
    border-top: 1px solid var(--color-1);
    border-bottom: 1px solid var(--color-1);
}

.dark-darker .asciiTable tr:nth-last-child(1) td {
    border-bottom: 1px solid var(--color-1);
}

.dark-darker .asciiTable th:nth-child(1),
.dark-darker .asciiTable td:nth-child(1) {
    border-left: 1px solid var(--color-1);
}

.dark-darker .asciiTable th:nth-last-child(1),
.dark-darker .asciiTable td:nth-last-child(1) {
    border-right: 1px solid var(--color-1);
}

.dark-darker .asciiTable tr:nth-child(even) {
    background-color: rgb(27, 27, 27);
}

.dark-darker .asciiTable th:nth-child(6),
.dark-darker .asciiTable th:nth-child(10),
.dark-darker .asciiTable th:nth-child(14) {
    background-color: rgb(13, 16, 21);
}

.dark-darker .asciiTable td:nth-child(6),
.dark-darker .asciiTable td:nth-child(10),
.dark-darker .asciiTable td:nth-child(14) {
    background-color: rgb(13, 16, 21);
}

.dark-darker .asciiTable tbody tr:hover,
.dark-darker .asciiTable tbody tr:nth-child(even):hover {
    background-color: rgb(56, 56, 56);
}

.dark-darker .fs-entry {
    border-left: 3px solid transparent;
}

.dark-darker .file-opened {
    border-left: 3px solid var(--color-7);
    color: rgb(203, 151, 6);
}

.dark-darker .file-unsaved {
    border-left: 3px solid var(--color-7);
    color: rgb(234, 86, 86);
}

.dark-darker .folder-has-opened-files {
    border-left: 3px solid var(--color-7);
    color: rgb(203, 151, 6);
}

.dark-darker.chaos .flexlayout__tabset_header,
.dark-darker.chaos .flexlayout__tabset,
.dark-darker.chaos .panel,
.dark-darker.chaos .flexlayout__layout,
.dark-darker.chaos .flexlayout__tab,
.dark-darker.chaos .flexlayout__tab,
.dark-darker.chaos .flexlayout__floating_window_tab,
.dark-darker.chaos .flexlayout__tab_button--selected,
.dark-darker.chaos .markdown-body,
.dark-darker.chaos .markdown-body table tr {
    background-color: rgb(15, 15, 15);
}

.dark-darker.cloud9_night .flexlayout__tabset_header,
.dark-darker.cloud9_night .flexlayout__tabset,
.dark-darker.cloud9_night .panel,
.dark-darker.cloud9_night .flexlayout__layout,
.dark-darker.cloud9_night .flexlayout__tab,
.dark-darker.cloud9_night .flexlayout__tab,
.dark-darker.cloud9_night .flexlayout__floating_window_tab,
.dark-darker.cloud9_night .flexlayout__tab_button--selected,
.dark-darker.cloud9_night .markdown-body,
.dark-darker.cloud9_night .markdown-body table tr {
    background-color: rgb(20, 20, 20);
}

.dark-darker.idle_fingers .flexlayout__tabset_header,
.dark-darker.idle_fingers .flexlayout__tabset,
.dark-darker.idle_fingers .panel,
.dark-darker.idle_fingers .flexlayout__layout,
.dark-darker.idle_fingers .flexlayout__tab,
.dark-darker.idle_fingers .flexlayout__tab,
.dark-darker.idle_fingers .flexlayout__floating_window_tab,
.dark-darker.idle_fingers .flexlayout__tab_button--selected,
.dark-darker.idle_fingers .markdown-body,
.dark-darker.idle_fingers .markdown-body table tr {
    background-color: rgb(40, 40, 40);
}

.dark-darker.merbivore_soft .flexlayout__tabset_header,
.dark-darker.merbivore_soft .flexlayout__tabset,
.dark-darker.merbivore_soft .panel,
.dark-darker.merbivore_soft .flexlayout__layout,
.dark-darker.merbivore_soft .flexlayout__tab,
.dark-darker.merbivore_soft .flexlayout__tab,
.dark-darker.merbivore_soft .flexlayout__floating_window_tab,
.dark-darker.merbivore_soft .flexlayout__tab_button--selected,
.dark-darker.merbivore_soft .markdown-body,
.dark-darker.merbivore_soft .markdown-body table tr {
    background-color: rgb(25, 25, 25);
}

.dark-darker.merbivore .flexlayout__tabset_header,
.dark-darker.merbivore .flexlayout__tabset,
.dark-darker.merbivore .panel,
.dark-darker.merbivore .flexlayout__layout,
.dark-darker.merbivore .flexlayout__tab,
.dark-darker.merbivore .flexlayout__tab,
.dark-darker.merbivore .flexlayout__floating_window_tab,
.dark-darker.merbivore .flexlayout__tab_button--selected,
.dark-darker.merbivore .markdown-body,
.dark-darker.merbivore .markdown-body table tr {
    background-color: rgb(18, 18, 18);
}

.dark-darker.mono_industrial .flexlayout__tabset_header,
.dark-darker.mono_industrial .flexlayout__tabset,
.dark-darker.mono_industrial .panel,
.dark-darker.mono_industrial .flexlayout__layout,
.dark-darker.mono_industrial .flexlayout__tab,
.dark-darker.mono_industrial .flexlayout__tab,
.dark-darker.mono_industrial .flexlayout__floating_window_tab,
.dark-darker.mono_industrial .flexlayout__tab_button--selected,
.dark-darker.mono_industrial .markdown-body,
.dark-darker.mono_industrial .markdown-body table tr {
    background-color: rgb(28, 35, 32);
}

.dark-darker.monokai .flexlayout__tabset_header,
.dark-darker.monokai .flexlayout__tabset,
.dark-darker.monokai .panel,
.dark-darker.monokai .flexlayout__layout,
.dark-darker.monokai .flexlayout__tab,
.dark-darker.monokai .flexlayout__tab,
.dark-darker.monokai .flexlayout__floating_window_tab,
.dark-darker.monokai .flexlayout__tab_button--selected,
.dark-darker.monokai .markdown-body,
.dark-darker.monokai .markdown-body table tr {
    background-color: rgb(35, 36, 30);
}

.dark-darker.twilight .flexlayout__tabset_header,
.dark-darker.twilight .flexlayout__tabset,
.dark-darker.twilight .panel,
.dark-darker.twilight .flexlayout__layout,
.dark-darker.twilight .flexlayout__tab,
.dark-darker.twilight .flexlayout__tab,
.dark-darker.twilight .flexlayout__floating_window_tab,
.dark-darker.twilight .flexlayout__tab_button--selected,
.dark-darker.twilight .markdown-body,
.dark-darker.twilight .markdown-body table tr {
    background-color: rgb(16, 16, 16);
}

.dark-darker .ide-header {
    /* color: red !important; */
    background-color: rgb(59, 59, 59);
    border-bottom: 1px solid rgb(27, 27, 27);
}

.dark-darker .markdown-body,
.dark-darker .markdown-body table tr {
    color: rgb(159, 165, 169);
}

.dark-darker .markdown-body table tr:nth-child(even) {
    background-color: rgb(27, 27, 27);
}

.dark-darker .markdown-body table th,
.dark-darker .markdown-body table td {
    border: 1px solid rgb(88, 88, 88);
}

.dark-darker .markdown-body a {
    color: rgb(113, 143, 219);
}

.dark-darker .markdown-body pre {
    background-color: rgb(27, 27, 27);
    color: rgb(168, 168, 168);
}

.dark-darker .ace_search {
    background-color: var(--color-background);
    color: var(--color-text);
    border-color: var(--color-2);
}

.dark-darker .ace_search_field {
    background-color: var(--color-1);
    color: var(--color-text);
    border: 1px solid transparent;
}

.dark-darker .ace_search_options {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dark-darker .ace_searchbtn {
    background-color: var(--color-3);
    color: var(--color-text);
    border: 1px solid transparent;
}

.dark-darker .ace_searchbtn:hover {
    background-color: var(--color-4);
    color: var(--color-text);
    border: 1px solid transparent;
}

.dark-darker .ace_searchbtn:last-child {
    border: 1px solid transparent;
}

.dark-darker .ace_button {
    background-color: var(--color-3);
    color: var(--color-text);
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

.dark-darker .ace_button.checked {
    color: var(--color-1);
    border-color: var(--color-2);
    background-color: var(--color-6);
}

.dark-darker .ace_button:hover {
    background-color: var(--color-4);
    color: var(--color-5);
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: var(--color-2);
}
