.dark-black .flexlayout__layout {
    scrollbar-color: rgb(67, 67, 67) rgba(227, 227, 227, 0.093);
    --color-text: rgb(220, 220, 220);
    --color-tab-text: rgb(184, 184, 184);
    --color-background: rgb(0, 0, 0);
    --color-base: rgb(0, 0, 0);
    --color-1: rgb(36, 36, 36);
    --color-2: #545454;
    --color-3: #646464;
    --color-4: #000000;
    --color-5: #2b2b2b;
    --color-6: rgba(65, 65, 65, 0.8);
    --color-7: rgb(61, 119, 214);
    --color-drag1: rgb(20, 20, 20);
    --color-drag2: rgb(139, 139, 139);
    --color-drag1-background: rgba(122, 122, 122, 0.387);
    --color-drag2-background: rgba(145, 145, 145, 0.5);

    --font-size: medium;
    --font-family: Roboto, Arial, sans-serif;
    --color-overflow: gray;
    --color-icon: rgb(50, 50, 50);
    --color-tabset-background: var(--color-background);
    --color-tabset-background-selected: var(--color-1);
    --color-tabset-background-maximized: var(--color-6);
    --color-tabset-divider-line: var(--color-4);
    --color-tabset-header-background: var(--color-background);
    --color-tabset-header: var(--color-text);
    --color-border-background: var(--color-1);
    --color-border-divider-line: var(--color-4);
    --color-tab-selected: var(--color-tab-text);
    --color-tab-selected-background: var(--color-4);
    --color-tab-unselected: var(--color-tab-text);
    --color-tab-unselected-background: transparent;
    --color-tab-textbox: var(--color-tab-text);
    --color-tab-textbox-background: var(--color-3);
    --color-border-tab-selected: var(--color-tab-text);
    --color-border-tab-selected-background: var(--color-4);
    --color-border-tab-unselected: var(--color-tab-text);
    --color-border-tab-unselected-background: var(--color-3);
    --color-splitter: var(--color-1);
    --color-splitter-hover: var(--color-6);
    --color-splitter-drag: var(--color-6);
    --color-drag-rect-border: var(--color-6);
    --color-drag-rect-background: var(--color-4);
    --color-drag-rect: var(--color-text);
    --color-popup-border: var(--color-6);
    --color-popup-unselected: var(--color-text);
    --color-popup-unselected-background: var(--color-background);
    --color-popup-selected: var(--color-text);
    --color-popup-selected-background: var(--color-3);
    --color-edge-marker: rgb(73, 143, 243);
}

.dark-black .flexlayout__layout {
    background-color: var(--color-background);
}

.dark-black .flexlayout__splitter {
    background-color: var(--color-splitter);
}
@media (hover: hover) {
    .dark-black .flexlayout__splitter:hover {
        background-color: var(--color-splitter-hover);
    }
}
.dark-black .flexlayout__splitter_drag {
    background-color: var(--color-splitter-drag);
}
.dark-black .flexlayout__outline_rect {
    border: 2px solid var(--color-drag1);
    background: var(--color-drag1-background);
}
.dark-black .flexlayout__outline_rect_edge {
    border: 2px solid var(--color-drag2);
    background: var(--color-drag2-background);
}
.dark-black .flexlayout__edge_rect {
    background-color: var(--color-edge-marker);
}
.dark-black .flexlayout__drag_rect {
    color: var(--color-drag-rect);
    background-color: var(--color-drag-rect-background);
    border: 2px solid var(--color-drag-rect-border);
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-black .flexlayout__tabset {
    background-color: var(--color-tabset-background);
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-black .flexlayout__tabset_header {
    border-bottom: 1px solid var(--color-tabset-divider-line);
    color: var(--color-tabset-header);
    background-color: var(--color-tabset-header-background);
}
.dark-black .flexlayout__tabset_header_content {
    flex-grow: 1;
}
.dark-black .flexlayout__tabset_tabbar_outer {
    background-color: var(--color-tabset-background);
}
.dark-black .flexlayout__tabset_tabbar_outer_top {
    border-bottom: 1px solid var(--color-tabset-divider-line);
}
.dark-black .flexlayout__tabset_tabbar_outer_bottom {
    border-top: 1px solid var(--color-tabset-divider-line);
}
.dark-black .flexlayout__tabset-selected {
    background-color: var(--color-tabset-background-selected);
}
.dark-black .flexlayout__tabset-maximized {
    background-color: var(--color-tabset-background-maximized);
}
.dark-black .flexlayout__tab {
    overflow: auto;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);
}
.dark-black .flexlayout__tab_button {
    border-right: 1px solid var(--color-4);
    border-left: 1px solid var(--color-4);
    border-top: 2px solid var(--color-4);
}
.dark-black .flexlayout__tab_button--selected {
    background-color: var(--color-tab-selected-background);
    color: var(--color-tab-selected);
}
@media (hover: hover) {
    .dark-black .flexlayout__tab_button:hover {
        background-color: var(--color-tab-selected-background);
        color: var(--color-tab-selected);
    }
}
.dark-black .flexlayout__tab_button--unselected {
    background-color: var(--color-tab-unselected-background);
    color: var(--color-tab-unselected);
}

.dark-black .flexlayout__tab_button_top.flexlayout__tab_button--selected {
    border-left: 1px solid var(--color-3);
    border-right: 1px solid var(--color-3);
    border-top: 2px solid var(--color-7);
}

.dark-black .flexlayout__tab_button_textbox {
    border: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-tab-textbox);
    background-color: var(--color-tab-textbox-background);
    border: 1px inset var(--color-1);
    border-radius: 3px;
    width: 10em;
}
.dark-black .flexlayout__tab_button_trailing:hover {
    background-color: var(--color-5);
}
.dark-black .flexlayout__tab_button_overflow {
    color: var(--color-overflow);
}
@media (hover: hover) {
    .dark-black .flexlayout__tab_toolbar_button:hover {
        background-color: var(--color-2);
    }
}
.dark-black .flexlayout__tab_floating {
    color: var(--color-text);
    background-color: var(--color-background);
}
.dark-black .flexlayout__tab_floating_inner div a {
    color: rgb(138, 138, 138);
}
.dark-black .flexlayout__border {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--color-border);
    background-color: var(--color-border-background);
}
.dark-black .flexlayout__border_top {
    border-bottom: 1px solid var(--color-border-divider-line);
}
.dark-black .flexlayout__border_bottom {
    border-top: 1px solid var(--color-border-divider-line);
}
.dark-black .flexlayout__border_left {
    border-right: 1px solid var(--color-border-divider-line);
}
.dark-black .flexlayout__border_right {
    border-left: 1px solid var(--color-border-divider-line);
}
.dark-black .flexlayout__border_button--selected {
    background-color: var(--color-border-tab-selected-background);
    color: var(--color-border-tab-selected);
}
@media (hover: hover) {
    .dark-black .flexlayout__border_button:hover {
        background-color: var(--color-border-tab-selected-background);
        color: var(--color-border-tab-selected);
    }
}
.dark-black .flexlayout__border_button--unselected {
    background-color: var(--color-border-tab-unselected-background);
    color: var(--color-border-tab-unselected);
}
.dark-black .flexlayout__border_button_trailing:hover {
    background-color: var(--color-5);
}
@media (hover: hover) {
    .dark-black .flexlayout__border_toolbar_button:hover {
        background-color: var(--color-2);
    }
}
.dark-black .flexlayout__border_toolbar_button_overflow {
    color: var(--color-overflow);
}
.dark-black .flexlayout__popup_menu {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
@media (hover: hover) {
    .dark-black .flexlayout__popup_menu_item:hover {
        background-color: var(--color-6);
    }
}
.dark-black .flexlayout__popup_menu_container {
    border: 1px solid var(--color-popup-border);
    color: var(--color-popup-unselected);
    background: var(--color-popup-unselected-background);
}
.dark-black .flexlayout__floating_window_tab {
    background-color: var(--color-background);
    color: var(--color-text);
}
.dark-black .flexlayout__tabset_sizer {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-black .flexlayout__tabset_header_sizer {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.dark-black .flexlayout__border_sizer {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
